@keyframes myRotate {
    from{
        transform: rotate(0) scale(.9);
    }

    to{
        transform: rotate(360deg) scale(.9);
    }
}

@keyframes myRotate2 {
    from{
        transform: rotate(0) scale(1);
    }

    to{
        transform: rotate(360deg) scale(1);
    }
}

@keyframes lbSwiper {
    0%{
        left: 0;
        width: 5%;
    }

    25%{
        left: 100%;
        width: 95%
    }

    50%{
        left: 0;
        width: 80%;
    }

    75%{
        left: 100%;
        width: 95%;
    }

    100%{
        left: 0;
        width: 5%;
    }
}

@keyframes lbSwiperBak {
    0%{
        width: 10%;
        left: 0;
        opacity: 1;
    }

    34%{
        opacity: 1;
    }

    35%{
        width: 90%;
        left: 100%;
        opacity: 0;
    }

    50%{
        width: 10%;
        left: 0;
        opacity: 0;
    }

    75%{
        width: 75%;
        opacity: 1;
    }

    99%{
        width: 0;
        left: 100%;
        opacity: 1;
    }

    100%{
        width: 100%;
        left: 100%;
        opacity: 1;
    }
}