.navDial{
    width: 100vw;
    height: 48px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: rgba(0, 0, 0, 0.6); */
    border-radius: 20px 20px 0 0;

    position: absolute;
    z-index: 1000;
    bottom: 0;

    user-select: none;

    transition: opacity .2s, transform .3s;
}

.buttonGroup{
    width: min-content;
    height: min-content;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navDial::after{
    content: "×";

    width: 50px;
    height: 50px;

    display: none;
    align-items: center;
    justify-content: center;

    font-family: GSDMed;
    font-size: 29px;

    color: var(--navText);
    background-color: var(--nav);

    border-radius: 50%;

    position: absolute;
    bottom: -20%;

    cursor: pointer;
}

.pnBtn{
    height: 32px;
    aspect-ratio: 1/1;

    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    user-select: none;
    color: rgba(0, 0, 0, 0.75);
    box-shadow: 
    0 5px 10px 0 rgba(0, 0, 0, 0.2), 
    inset 70px 0 0 5px rgba(0, 0, 0, 0);

    transition: border-radius .2s, box-shadow .2s, color .1s;

    font-size: 18px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pnBtn:hover{
    border-radius: 35%;
    box-shadow: 
    0 5px 10px 0 rgba(0, 0, 0, 0.2), 
    inset 70px 0 0 5px rgba(0, 0, 0, 0.4); 
    color: var(--navText);
}

.pnBtn::after{
    content: attr(data-pageName);
    box-sizing: border-box;

    position: absolute;
    bottom: 45px;
    transform: scale(.7);
    opacity: 0;

    width: max-content;
    height: fit-content;
    padding: 5px 10px;

    pointer-events: none;
    user-select: none;

    /* opacity: 0; */
    transition: .1s color .1s;

    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    color: black;
    border-radius: 500px;

    transition: .2s transform .2s, .2s opacity .2s;
    transform-origin: bottom;

    font-size: 15px;
}

.pnBtn:hover::after{
    opacity: 1;
    transform: scale(1);
}

.pnSep{
    width: 2px;
    height: 25px;

    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
}

.pnIndic{
    width: 13px;
    height: 4px;

    border-radius: 50px;

    background-color: white;

    position: absolute;
    bottom: -20%;
}

/* Status Center */

.scBackplane{
    width: 100vw;
    height: 100vh;

    position: absolute;
    z-index: 1000;

    display: none;
}

.statusCenterBtn{
    width: fit-content;
    height: 38px;

    padding: 0 13px;
    box-sizing: border-box;

    border-radius: 500px;    
    background-color: rgba(255, 255, 255, 0.1);
    color: white;

    transition: background-color .15s;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 5px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.statusCenter{
    width: 300px;
    height: fit-content;
    overflow: hidden;

    padding: 45px 10px 10px 10px;

    background-color: rgb(20, 20, 20);
    border-radius: 18px;

    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7px;

    transition: right .2s, opacity .2s;

    position: absolute;
    z-index: 3000;
    bottom: 53px;
    right: -295px;
}

.scTile{
    width: 47%;
    height: 40px;

    box-sizing: border-box;
    padding-left: 10px;

    border-radius: 18px;
    background-color: white;

    display: flex;
    align-items: center;

    font-size: 14px;
}

.scTile::after{
    content: attr(data-imLabel);

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 600;

    box-sizing: border-box;
    margin-left: 7px;
    padding-bottom: 1px;
}

.scTop{
    width: 100%;
    height: 35px;
    box-sizing: border-box;

    padding-top: 3px;
    padding-left: 12px;
    margin-bottom: 52px;

    display: flex;
    align-items: center;

    background: linear-gradient(90deg, transparent, rgb(66, 66, 66));

    transition: background .1s;

    border-radius: 500px;
    color: white;
    /* background-color: rgba(255, 255, 255, 0.096); */

    position: absolute;
    top: 0;
}

.scTop:hover .sctInfoBtn{
    background-color: rgba(255, 255, 255, .2);
}

.sctTitle{
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.sctInfoBtn{
    width: 45px;
    height: 35px;

    margin-top: -3px;
    margin-left: auto;

    border-radius: 500px;
    color: white;

    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 730px) {
    .buttonGroup {
      margin-right: auto;
      margin-left: 10px;
    }
}

@media only screen and (max-width: 520px) {
    .navDial {
      flex-direction: column;
      flex-wrap: wrap;
      height: fit-content;

      gap: 10px;

      padding-bottom: 5px;
    }
    
    .buttonGroup{
        width: 100%;
    }

    .statusCenterBtn{
        position: relative;
    }

    #iViewport{
        height: calc(100vh - 93px);
    }

    .statusCenter{
        box-sizing: border-box;
        width: 100vw;
        bottom: 93px;
        margin: 0;

        border-radius: 0 0 18px 18px;
        transform: translateX(5px)
    }

    .scTop{
        border-radius: 0;
    }
}