html{
    background-color: black;
}

body{
    margin: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: black; */
}

.page1i{
    width: 100vw;
    height: calc(100vh - 48px);

    position: absolute;
    left: 0;
    top: 0;

    z-index: 888;

    border-radius: 0 0 20px 20px;
}

/* Global Variables */

:root{
    --green: #8fc55b;
    --yellow: #eed95f;
    --red: #d88585;

    --my1: rgba(239, 157, 247, 0.3);
    --my2: rgba(116, 107, 238, 0.3);
    --my3: rgba(243, 180, 176, 0.3);
    --my4: rgba(250, 223, 172, 0.3);
    --my5: rgba(254, 198, 184, 0.3);
    --my6: rgba(179, 205, 195, 0.3);
    --my7: rgba(232, 247, 159, 0.3);

    --gradGreen: linear-gradient(-90deg, var(--green) 30%, transparent);
    --gradYellow: linear-gradient(-90deg, var(--yellow) 30%, transparent);
    --gradRed: linear-gradient(-90deg, var(--red) 30%, transparent);
}

@media (prefers-color-scheme: light) {
    :root{
        --backColor: white;
        --nav: white;
        --navText: black;
    }
}

@media (prefers-color-scheme: dark) {
    :root{
        --backColor: black;
        --nav: rgb(53, 53, 53);
        --navText: white;
    }
}

/* Page Layout */

.page{
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    box-sizing: border-box;

    display: flex;

    position: absolute;
    top: 0;
    right: 0;
    /* z-index: -2; */
}

/* Fonts */

@font-face {
    font-family: GSTReg;
    src: url(fonts/gstReg.ttf);
}

@font-face {
    font-family: GSTMed;
    src: url(fonts/gstMed.ttf);
}

@font-face {
    font-family: GSTBold;
    src: url(fonts/gstBold.ttf);
}

@font-face {
    font-family: GSDReg;
    src: url(fonts/gsdReg.ttf);
}

@font-face {
    font-family: GSDMed;
    src: url(fonts/gsdMed.ttf);
}

@font-face {
    font-family: GSDBold;
    src: url(fonts/gsdBold.ttf);
}