body{
    margin: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.page1i{
    width: 100vw;
    height: 100vh;

    position: absolute;
    left: 0;
    top: 0;

    z-index: 888;
}

/* Global Variables */

:root{
    --green: #9bce6c;
    --yellow: #ebd871;
    --red: #d88585;

    --gradGreen: linear-gradient(-90deg, var(--green) 30%, transparent);
    --gradYellow: linear-gradient(-90deg, var(--yellow) 30%, transparent);
    --gradRed: linear-gradient(-90deg, var(--red) 30%, transparent);
}

@media (prefers-color-scheme: light) {
    :root{
        --backColor: white;
        --nav: white;
        --navText: black;
    }
}

@media (prefers-color-scheme: dark) {
    :root{
        --backColor: black;
        --nav: rgb(53, 53, 53);
        --navText: white;
    }
}

/* Page Layout */

.page{
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    box-sizing: border-box;

    display: flex;

    position: absolute;
    top: 0;
    right: 0;
    /* z-index: -2; */
}

/* Fonts */

@font-face {
    font-family: GSTReg;
    src: url(fonts/gstReg.ttf);
}

@font-face {
    font-family: GSTMed;
    src: url(fonts/gstMed.ttf);
}

@font-face {
    font-family: GSTBold;
    src: url(fonts/gstBold.ttf);
}

@font-face {
    font-family: GSDReg;
    src: url(fonts/gsdReg.ttf);
}

@font-face {
    font-family: GSDMed;
    src: url(fonts/gsdMed.ttf);
}

@font-face {
    font-family: GSDBold;
    src: url(fonts/gsdBold.ttf);
}